!!!
%html{ng-app: "app"}
  %head
    %title Angular Sample App
    %link{rel: "stylesheet", type: "text/css", href: "css/app.css", media="all"}

  %body
    %div{ng-hello: "World"}

    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"}
    %script{type: "text/javascript", src: "js/app.js"}
